.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

* {
  margin: 0;
  padding: 0;
}

main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.depoimento {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  margin: 1em;
  border: 1px solid rgb(83, 86, 112);
  padding: 0.8em;
  width: 500px;
}

.photo {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  font-size: 0.8em;
}

.userName {
  font-size: 0.6em;
}

fieldset {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

label {
  width: 200px;
  height: 50px;
  margin-bottom: 18px;
}

button {
  padding: 8px 18px;
}
